/* Color Palette */
.goldenrod{
	color: #db9501;
}

.bronze{
	color: #c05805;
}

.coral{
	color: #c09b05;
}

.bark {
	color: #2e2300;
}


* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-color: #0a0a0a;
	color: white;
	font-family: 'Oswald', sans-serif;
	overflow-x: hidden;
}

main {
	margin-bottom: 400px;
}

nav h1 {
	color: white;
	font-weight: bold;
}

nav h3 {
	color: white;
}

nav{
	margin: 40px 0px ;
}

.intro {
	margin: 0px auto 80px;
	max-width: 600px;
	font-family: monospace;
}

.intro h4 {
	margin: 0px auto 40px;
}

section {
	position: relative;
}

.fab, .fas, .far {
	font-size: 40px;
}

.navbar-toggler {
	border:none;
}

.navbar-toggler:focus {
	outline:none;
}

.content{
	position: relative;
	padding-top: 150px;
	padding-left: 40px;
	padding-right: 40px;
	padding-bottom: 40px;
	width: 100%;
	display: block;
	color: #0a0a0a;
	background-color: white;
	height: auto;
	z-index: 2;
	box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
} 

#work h2, #skills h2, #social h2{
    top: -220px;
	left: -75px;
}

#skills, #social {
	margin: 400px 0 100px;
}

#social > div > div,#skills > div > div {
	text-align: center;
	font-size: 4em;

}
#social > div > div > p, #skills > div > div > p {
	font-size: initial;
	font-weight: bold;
	display: block;
	color: #5f4505;
}

.content h2{
	font-size: 8rem;
    display: inline;
    position: absolute;
    font-weight: bold;
}

.content h3 {
	color: #0a0a0a;
	font-weight: bold;
	margin: 20px 0px;
	font-family: monospace;
}


.content p {
	font-family: monospace;
}


.work-image{
	background-color: #db9501;
	width: 100%;
	height: 280px;
	margin: 20px 0px;
}

.skills-image{
	background-color: #db9501;
	width: 50px;
	height: 50px;
	margin: 20px auto;
	display: block;
}

.social-image{
	background-color: #db9501;
	width: 50px;
	height: 50px;
	margin: 20px auto;
	display: block;
}

.business-card {
	visibility: hidden;
	color: #0a0a0a;
	background-color: white;
    width: 80%;
    max-width: 500px;
    height: 250px;
    margin: 20px auto;
    display: block;
    position: fixed;
    bottom: 45px;
    right: 0;
    left: 0;
    z-index: 1;
    text-align: center;
}

.business-card img {
    width: 100px;
    height: 100px;
    display: block;
    margin: 20px auto 10px;
    /*border-radius: 50%;*/
}

.business-card h3 {
    margin: 0;
    position: absolute;
    left: -4px;
    right: 0;
    top: -70px;
    font-size: 70px;
    font-weight: bold;
    white-space: nowrap;
    color: white;
}

footer {
  text-align: center;
}

@media (max-width: 650px) {

	.business-card h3 {
		top: -11vw;
	    font-size: 11vw;
	}
}