/* Color Palette */
.goldenrod{
	color: #db9501;
}

.bronze{
	color: #c05805;
}

.coral{
	color: #c09b05;
}

.bark {
	color: #2e2300;
}


* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-color: #0a0a0a;
	color: white;
	font-family: 'Oswald', sans-serif;
	overflow-x: hidden;
}

main {
	margin-bottom: 400px;
}

nav h1 {
	color: white;
	font-weight: bold;
}

nav h3 {
	color: white;
}

nav{
	margin: 40px 0px ;
}

.intro {
	margin: 90px auto 200px;
	max-width: 600px;
	font-family: monospace;
}

.intro h4 {
	margin: 0px auto 40px;
}

section {
	position: relative;
}

.navbar-toggler {
	border:none;
}

.navbar-toggler:focus {
	outline:none;
}

.content{
	position: relative;
	padding-top: 150px;
	padding-left: 40px;
	padding-right: 40px;
	padding-bottom: 40px;
	width: 100%;
	display: block;
	color: #0a0a0a;
	background-color: white;
	height: auto;
	z-index: 2;
	box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
} 

#work h2, #skills h2, #social h2{
    top: -220px;
	left: -75px;
}

#skills, #social {
	margin: 350px 0 100px;
}

#social > div > div,#skills > div > div {
	text-align: center;
	margin: 20px 0px;
}

#social > div > div > a > i,#skills > div > div > i{
	font-size: 3rem;
	padding: 10px;
}

#social > div > div > p, #skills > div > div > p {
	font-size: initial;
	font-weight: bold;
	display: block;
	color: #5f4505;
}


/* Skills Icons Colors */
/* #skills > div > div:first-child {
	color: #E44D26;
}
#skills > div > div:nth-child(2) {
	color: #0277BD;
}
#skills > div > div:nth-child(3) {
	color: #F0DB4F;
}
#skills > div > div:nth-child(4) {
	color: #FFBB00;
}
#skills > div > div:nth-child(5) {
	color: #F69640;
}
#skills > div > div:nth-child(6) {
	color: #2996FB;
}

#social > div > div:first-child > a {
	color: #424242;
}
#social > div > div:nth-child(2) > a{
	color: #1769ff;
}
#social > div > div:nth-child(3) > a{
	color:  #c13584;
} */

#social > div > div:first-child > a {
	color: #424242;
}
#social > div > div:nth-child(2) > a{
	color: #424242;
}
#social > div > div:nth-child(3) > a{
	color: #424242;
}

a:hover {
	text-decoration: none;
}


.content h2{
	font-size: 10rem;
    display: inline;
    position: absolute;
    font-weight: bold;
}

.content h3 {
	color: #0a0a0a;
	font-weight: bold;
	margin: 20px 0px;
	font-family: monospace;
}


.content p {
	font-family: monospace;
}


.work-image{
	background-color: #db9501;
	width: 100%;
	height: 280px;
	margin: 20px 0px;
	background-image: url(../img/islapilipinas.png);
	background-size: cover;
	background-position: center center;
}

.skills-image{
	background-color: #db9501;
	width: 50px;
	height: 50px;
	margin: 20px auto;
	display: block;
}

.social-image{
	background-color: #db9501;
	width: 50px;
	height: 50px;
	margin: 20px auto;
	display: block;
}

.business-card {
	visibility: hidden;
	color: #0a0a0a;
	background-color: white;
    width: 80%;
    max-width: 500px;
    height: 250px;
    margin: 20px auto;
    display: block;
    position: fixed;
    bottom: 45px;
    right: 0;
    left: 0;
    z-index: 1;
    text-align: center;
}

.business-card img {
    width: auto;
    height: 100%;
    display: block;
    padding: 20px;
}

.business-card h3 {
    /* margin: 0;
    position: absolute;
    left: -4px;
    right: 0;
    top: -70px;
    font-size: 70px;
    font-weight: bold;
    white-space: nowrap;
	color: white;
	letter-spacing: -1px; */

	position: absolute;
	top: 20px;
	right: 30px;
	font-size: 35px;
}

.business-card a:nth-child(2) {
	position: absolute;
	top: 80px;
	right: 190px;
	color: #0a0a0a;
}

.business-card a:nth-child(3) {
	position: absolute;
	top: 120px;
	right: 195px;
	color: #0a0a0a;
}

.business-card a:nth-child(4) {
	position: absolute;
	top: 160px;
	right: 185px;
	color: #0a0a0a;
}



footer {
  text-align: center;
}

@media (max-width: 650px) {

	/* .business-card h3 {
		top: -11vw;
	    font-size: 11vw;
	} */

	.content h2 {
		font-size: 8rem;
	}
}


@media (max-width: 639px) {

	.business-card img {
		margin: auto;
	}

	.business-card h3 {
		color: white;
	    right: 36px;
	    font-size: 34px;
	}

	.business-card a:nth-child(2) {
	    right: 175px;
	}

	.business-card a:nth-child(3) {
	    right: 180px;
	}

	.business-card a:nth-child(4) {
	    right: 170px;
	}
}